<!-- Fragmento 1, muestra el ícono para ver el contenido del carrito de compras. -->
<div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
    <form action="/carrito/listado">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fas fa-cart-plus"></i>
            [[#{carrito.verCarrito}]] [[${#numbers.formatCurrency(carritoTotal)}]]
        </button>
    </form>
</div>     

<!-- Fragmento 2, muestra el listado de anuncios del carrito de compras -->
<section th:fragment="listadoCarrito" id="items">          
    <div class="row p-5">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>[[#{carrito.titulo}]]</h4>
                </div>
                <div th:if="${carritoItems != null and !carritoItems.empty}">
                    <table class="table table-stryped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>[[#{anuncio.nombreProducto}]]</th>
                                <th></th>
                                <th>[[#{anuncio.precio}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${carritoItems}">
                                <td>[[${item.anuncio.idAnuncio}]]</td>
                                <td>[[${item.anuncio.varianteProducto.producto.nombreProducto}]]</td>
                                <td><img th:src="@{${item.anuncio.varianteProducto.producto.rutaImagen}}" alt="your image" height="200"/></td>
                                <td class="text-end">[[${#numbers.formatCurrency(item.precioHistorico)}]]</td>
                                <td>
                                    <form th:action="@{/carrito/eliminar/}+${item.anuncio.idAnuncio}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-danger">
                                            <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center p-2" th:if="${carritoItems== null or carritoItems.empty}">
                    [[#{carrito.no_mostrar}]]
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center bg-primary text-white mb-3">
                <div class="card-body">
                    <h3>[[#{carrito.totalCompra}]]</h3>
                    <h4 class="fs-4">
                        [[${#numbers.formatCurrency(totalCarrito)}]]
                    </h4>
                </div>
            </div>
            <div class="card text-center bg-success text-white mb-3">
                <div class="card-body">
                    <a th:href="@{/}"
                       class="btn btn-success">
                        <i class='fas fa-reply'></i> [[#{carrito.seguirComprando}]]
                    </a>
                </div>
            </div>
            <div class="card text-center bg-info text-white mb-3">
                <div class="card-body">
                    <a th:href="@{/ordenar/carrito}"
                       class="btn btn-info">
                        <i class='fas fa-fordward'></i> [[#{carrito.ordenar}]]
                    </a>
                </div>
            </div> 
        </div>
    </div>            
</section>


<!-- Fragmento 4, muestra la información general de la orden -->
<section th:fragment="detalleOrden" class="container py-5">
    <div class="card shadow-lg mx-auto" style="max-width: 900px;">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">[[#{orden.confirmacion}]]</h3>
            <p th:if="${mensaje}" th:text="${mensaje}" class="mb-0"></p>
        </div>

        <div class="card-body">
            <div class="row mb-4 border-bottom pb-3">
                <div class="col-md-6">
                    <h5>[[#{orden.detalles}]]</h5>
                    <p><strong>[[#{orden.numero}]]:</strong> <span th:text="${orden.idOrden}">1001</span></p>
                    <p><strong>[[#{orden.fecha}]]:</strong> <span th:text="${#temporals.format(orden.fechaCreacion, 'dd-MM-yyyy hh:mm')}">2024-10-25</span></p>
                </div>
                <div class="col-md-6 text-md-right">
                    <h5>[[#{orden.cliente}]]</h5>
                    <p><strong>[[#{usuario.username}]]:</strong> <span th:text="${orden.usuario.username}">Juan Perez</span></p>
                    <p><strong>[[#{usuario.correo}]]:</strong> <span th:text="${orden.usuario.correo}">correo@ejemplo.com</span></p>
                </div>
            </div>

            <h5>[[#{orden.anuncios.adquiridos}]]</h5>
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>[[#{anuncio.descripcion}]]</th>
                            <th class="text-center">[[#{carrito.region}]]</th>
                            <th class="text-center">[[#{carrito.plataforma}]]</th>
                            <th class="text-center">[[#{carrito.precio}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ordenLlave, iterStat : ${orden.ordenLlaves}">
                            <td th:text="${ordenLlave.llave.varianteProducto.producto.nombreProducto}">Laptop Xtreme</td>
                            <td th:text="${ordenLlave.llave.varianteProducto.region.nombreRegion}">Laptop Xtreme</td>
                            <td th:text="${ordenLlave.llave.varianteProducto.plataforma.nombrePlataforma}">Laptop Xtreme</td>
                            <td class="text-end" th:text="${#numbers.formatCurrency(ordenLlave.precioPagado)}">$520.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-end"><strong>[[#{carrito.totalCompra}]]:</strong></td>
                            <td class="text-end text-success">
                                <strong class="h5" th:text="${#numbers.formatCurrency(orden.precioTotal)}">$1,040.00</strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="text-center">
                <a th:href="@{/}" class="btn btn-primary btn-lg d-print-none">
                    <i class='fas fa-home'></i> [[#{accion.regresar}]]
                </a>
                <button onclick="window.print()" class="btn btn-primary btn-lg d-print-none">
                    <i class='fas fa-print'></i> [[#{accion.imprimir}]]
                </button>
            </div>
        </div>
    </div>
    <script>
        // Clear only the cart items from sessionStorage
        Object.keys(sessionStorage).forEach(function (key) {
            if (key.startsWith("cart_")) {
                sessionStorage.removeItem(key);
            }
        });
    </script>
</section>