<!-- Este fragmento permite agregar un nuevo elemento cuadno se presiona el boton de agregar -->
<section th:fragment="agregar">
    <!-- Esta es la ventana modal -->
    <div class="modal fade" id="agregarRutaModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{ruta.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/ruta/guardar}' th:object='${ruta}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{ruta.nombre}]]</label>
                            <input type="text" name='nombreRuta' class='form-control' required="true"/></div>
                        <div class='mb-3'>
                            <label>[[#{ruta.requiereRol}]]</label>
                            <input type="checkbox" name='requiereRol' class='form-check-input'/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Este fragmento permite mostrar la lista de elementos y los botonoes de modificar y eliminar -->
<section th:fragment="listado" class="p-3">
    <!-- Linea de total de elementos y del boton agregar-->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card text-center total-elementos">
                <div class="card-body py-2">
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="d-flex align-items-center gap-2">
                            <h5 class="mb-0">
                                [[#{ruta.total}]]
                            </h5>
                            <h4 class="mb-0">
                                <i class="fas fa-layer-group"></i>
                                [[${totalRutas}]]
                            </h4>
                        </div>
                        <button type="button"
                                class="btn btn-light"
                                sec:authorize="hasRole('ROLE_Administrador')"
                                data-bs-toggle="modal"
                                data-bs-target="#agregarRutaModal">
                            <i class="fa-solid fa-plus"></i>
                            [[#{ruta.agregar}]]
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla que da la lista de elementos -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-tablas">
                    <h4 class="mb-0">[[#{ruta.listado}]]</h4>
                </div>
                <div class="card-body">
                    <div th:if="${rutas != null and !rutas.empty}">
                        <table class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>[[#{ruta.nombre}]]</th>
                                    <th>[[#{ruta.requiereRol}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : ${rutas}">
                                    <td>[[${c.idRuta}]]</td>
                                    <td>[[${c.nombreRuta}]]</td>
                                    <td th:text="${c.requiereRol} ? 'Requerido':'No requerido'"></td>
                                    <td sec:authorize="hasRole('ROLE_Administrador')">
                                        <div class="action-buttons">
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmModal"
                                                    th:data-bs-id="${c.idRuta}"
                                                    th:data-bs-nombre="${c.nombreRuta}">
                                                <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                            </button>
                                            <button type="button"
                                                    class="btn btn-warning"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editarRutaModal"
                                                    th:data-bs-id="${c.idRuta}"
                                                    th:data-bs-nombre="${c.nombreRuta}"
                                                    th:data-bs-requiereRol="${c.requiereRol}">
                                                <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${rutas == null or rutas.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Este fragmento desea confirmar si se desea eliminar un elemento -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/ruta/eliminar}" th:object="${ruta}" method="post">
                    <input type="hidden" name="idRuta" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <section th:fragment="modifica">
        <!-- Este div permite llamar al modal de modificar elementos desde el boton en la lista -->
        <div class="modal fade" id="editarRutaModal" tabindex="-1" aria-labelledby="editarRutaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h1 class="modal-title fs-5" id="editarRutaModalLabel">
                            <i class="fa-solid fa-pencil"></i> [[#{accion.actualizar}]]
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form th:action="@{/ruta/guardar}" method="post" th:object="${ruta}">
                        <div class="modal-body">
                            <input type="hidden"
                                   id="editarIdRuta"
                                   name="idRuta"/>
                            <div class="mb-3">
                                <label for="editarNombreRuta" class="form-label"> [[#{ruta.nombre}]]</label>
                                <input type="text"
                                       id="editarNombre"
                                       name="nombreRuta"
                                       class="form-control"
                                       required/>
                            </div>
                            <div class="mb-3">
                                <label for="editarActivo" class="form-label">[[#{ruta.requiereRol}]]</label>
                                <input type="checkbox"
                                       id="editarActivo"
                                       name="requiereRol"
                                       class="form-check-input"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                                [[#{accion.cerrar}]]
                            </button>
                            <button type="submit"
                                    class="btn btn-warning">
                                <i class="fa-solid fa-check"></i>
                                [[#{accion.guardar}]]
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Este script permite capturar la informacion de cada elemento en  la tabla para popular el div de modificar elemento --> 
        <script>
            const editarModal = document.getElementById('editarRutaModal');

            editarModal.addEventListener('show.bs.modal', function (event) {

                const button = event.relatedTarget;

                const id = button.getAttribute('data-bs-id');
                const nombre = button.getAttribute('data-bs-nombre');
                const requiereRol = button.getAttribute('data-bs-requiereRol');

                document.getElementById('editarIdRuta').value = id;
                document.getElementById('editarNombre').value = nombre;
                document.getElementById('editarActivo').checked = requiereRol === 'true';
            });
        </script>
    </section>



