<!-- Este fragmento permite agregar un nuevo elemento cuadno se presiona el boton de agregar -->
<section th:fragment="agregar">
    <!-- Esta es la ventana modal -->
    <div class="modal fade" id="agregarUsuarioModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{usuario.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/usuario/guardar}' th:object='${usuario}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{usuario.username}]]</label>
                            <input type="text" name='username' class='form-control' maxlength="30" required/>                                   
                        </div>
                        <div class='mb-3'>
                            <label>[[#{usuario.password}]]</label>
                            <input type="password" name='password' class='form-control' maxlength="15" required/>                                   
                        </div>
                        <div class='mb-3'>
                            <label>[[#{usuario.correo}]]</label>
                            <input type="email" name='correo' class='form-control' maxlength="75" required/>                                   
                        </div>
                        <div class='mb-3'>
                            <label>[[#{usuario.activo}]]</label>
                            <input type="checkbox" name='activo' class='form-check-input'/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{usuario.imagen}]]</label>
                            <input type="file" name='imagenFile' onchange='mostrarImagen(this);'
                                   class='form-control'/>
                            <img id='blah' src='#' alt="" height="80" width="80" class="rounded-circle object-fit-cover"/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Este fragmento permite mostrar la lista de elementos y los botonoes de modificar y eliminar -->
<section th:fragment="listado" class="p-3">
    <!-- Linea de total de elementos y del boton agregar-->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card text-center total-elementos">
                <div class="card-body py-2">
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="d-flex align-items-center gap-2">
                            <h5 class="mb-0">
                                [[#{usuario.total}]]
                            </h5>
                            <h4 class="mb-0">
                                <i class="fas fa-layer-group"></i>
                                [[${totalUsuarios}]]
                            </h4>
                        </div>
                        <button type="button"
                                class="btn btn-light"
                                sec:authorize="hasRole('ROLE_Administrador')"
                                data-bs-toggle="modal"
                                data-bs-target="#agregarUsuarioModal">
                            <i class="fa-solid fa-plus"></i>
                            [[#{usuario.agregar}]]
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla que da la lista de elementos -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-tablas">
                    <h4 class="mb-0">[[#{usuario.listado}]]</h4>
                </div>
                <div class="card-body">
                    <div th:if="${usuarios != null and !usuarios.empty}">
                        <table class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>[[#{usuario.username}]]</th>
                                    <th>[[#{usuario.correo}]]</th>
                                    <th></th>
                                    <th>[[#{usuario.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="u : ${usuarios}">
                                    <td>[[${u.idUsuario}]]</td>
                                    <td>[[${u.username}]]</td>
                                    <td>[[${u.correo}]]</td>
                                    <td><img th:src="@{${u.rutaImagen}}" alt="noData" width="60" height="60" class="rounded-circle object-fit-cover border"/></td>
                                    <td th:text="${u.activo} ? 'Activa':'Inactiva'"></td>

                                    <td sec:authorize="hasRole('ROLE_Administrador')">
                                        <div class="action-buttons">
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmModal"
                                                    th:data-bs-id="${u.idUsuario}"
                                                    th:data-bs-nombre="${u.username}">
                                                <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                            </button>
                                            <button type="button"
                                                    class="btn btn-warning"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editarUsuarioModal"
                                                    th:data-bs-id="${u.idUsuario}"
                                                    th:data-bs-username="${u.username}"
                                                    th:data-bs-correo="${u.correo}"
                                                    th:data-bs-activo="${u.activo}">
                                                <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${usuarios == null or usuarios.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Este fragmento desea confirmar si se desea eliminar un elemento -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/usuario/eliminar}" th:object="${usuario}" method="post">
                    <input type="hidden" name="idUsuario" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section th:fragment="modifica">
    <!-- Este div permite llamar al modal de modificar elementos desde el boton en la lista -->
    <div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h1 class="modal-title fs-5" id="editarUsuarioModalLabel">
                        <i class="fa-solid fa-pencil"></i> [[#{accion.actualizar}]]
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/usuario/guardar}" method="post" th:object="${usuario}" 
                      class="was-validated" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden"
                               id="editarIdUsuario"
                               name="idUsuario"/>
                        <div class="mb-3">
                            <label for="editarUsername" class="form-label"> [[#{usuario.username}]]</label>
                            <input type="text"
                                   id="editarUsername"
                                   name="username"
                                   class="form-control"
                                   maxlength="30" 
                                   required/>
                        </div>
                        <div class="mb-3">
                            <label for="editarPassword" class="form-label"> [[#{usuario.password}]]</label>
                            <input type="password"
                                   id="editarPassword"
                                   name="password"
                                   class="form-control"
                                   maxlength="25"/>
                        </div>
                        <div class="mb-3">
                            <label for="editarCorreo" class="form-label"> [[#{usuario.correo}]]</label>
                            <input type="email"
                                   id="editarCorreo"
                                   name="correo"
                                   class="form-control"
                                   maxlength="75"
                                   required/>
                        </div>
                        <div class="mb-3">
                            <label for="editarActivo" class="form-label">[[#{usuario.activo}]]</label>
                            <input type="checkbox"
                                   id="editarActivo"
                                   name="activo"
                                   class="form-check-input"/>
                        </div>
                        <div class="mb-3">
                            <label for="editarImagen">[[#{usuario.imagen}]]</label>
                            <input class="form-control" id="editarImagen" type="file" name="imagenFile"
                                   onchange="mostrarImagen(this);" />
                            <img id="blah" alt="your image" height="200" style="display: none;"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                            [[#{accion.cerrar}]]
                        </button>
                        <button type="submit"
                                class="btn btn-warning">
                            <i class="fa-solid fa-check"></i>
                            [[#{accion.guardar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Este script permite capturar la informacion de cada elemento en  la tabla para popular el div de modificar elemento --> 
    <script>
        const editarModal = document.getElementById('editarUsuarioModal');

        editarModal.addEventListener('show.bs.modal', function (event) {

            const button = event.relatedTarget;

            const id = button.getAttribute('data-bs-id');
            const username = button.getAttribute('data-bs-username');
            const correo = button.getAttribute('data-bs-correo');
            const activo = button.getAttribute('data-bs-activo');

            document.getElementById('editarIdUsuario').value = id;
            document.getElementById('editarUsername').value = username;
            document.getElementById('editarCorreo').value = correo;
            document.getElementById('editarActivo').checked = activo === 'true';

            ////////
            const preview = document.getElementById('blah');
            if (imagen) {
                preview.src = imagen;
                preview.style.display = 'block';
            } else {
                preview.style.display = 'none';
            }
            ////////
        });
    </script>
</section>



