<!-- fragmento 1 para Agregar region en ventana modal -->
<section th:fragment="agregar">
    <!-- Button trigger modal -->
    <div class='row py-4 mb-2 bg-light'>
        <div class='col-md-1'></div>
        <div class='col-md-3'>
            <button type="button" class="btn btn-primary"  sec:authorize="hasRole('ROLE_Administrador')"
                    data-bs-toggle="modal" data-bs-target="#agregarRegionModal">
                <i class="fa-solid fa-plus"></i> [[#{region.agregar}]]</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agregarRegionModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{region.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/region/guardar}' th:object='${region}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{region.nombreRegion}]]</label>
                            <input type="text" name='nombreRegion' class='form-control' required="true"/></div>
                        <div class='mb-3'>
                            <label>[[#{region.activo}]]</label>
                            <input type="checkbox" name='activo' class='form-check-input'/></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- fragmento 2 para el listado de regions -->
<section th:fragment="listado" class="p-3">
    <div class="row p-3">
        <div class="col-md-9">
            <div class="card p-2">
                <div class="card-header"><h4>[[#{region.listado}]]</h4></div>
                <div class="card-body">
                    <div th:if="${regions != null and !regions.empty}">
                        <table class="table table-striped table-hover">
                            <thead><tr><th>#</th>
                                    <th>[[#{region.nombreRegion}]]</th>
                                    <th>[[#{region.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : ${regions}">
                                    <td>[[${c.idRegion}]]</td>
                                    <td>[[${c.nombreRegion}]]</td>
                                    <td th:text="${c.activo} ? 'Activa':'Inactiva'"></td>
                                    <td sec:authorize="hasRole('ROLE_Administrador')">
                                        <button type="button" class="btn btn-danger"
                                                data-bs-toggle="modal" data-bs-target="#confirmModal"
                                                th:data-bs-id="${c.idRegion}"
                                                th:data-bs-nombreRegion="${c.nombreRegion}">
                                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                        </button>                                           
                                        <a th:href="@{/region/modificar/}+${c.idRegion}" class="btn btn-warning">
                                            <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                        </a>                                                
                                    </td>
                                </tr>
                            </tbody>
                     </table></div>
                    <div class="text-center p-2" th:if="${regions == null or regions.empty}">
                        <span>[[#{lista.vacia}]]</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center bg-success text-white mb-3">
                <div class="card-body"><h3>[[#{region.total}]]</h3>
                    <h4 class="fs-2"><i class="fas fa-layer-group"></i> [[${totalRegions}]]</h4>
                </div></div>
        </div>
    </div>
</section>

<!-- 3 Fragmento que se utiliza en la página modifca.html -->
<section th:fragment="editar">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" th:action="@{/region/guardar}" 
                  th:object="${region}" class="was-validated" enctype="multipart/form-data">
                <input type="hidden" name="idRegion" th:field="*{idRegion}"/>
                <div class="row py-4 mb-4 bg-light">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/region/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]</a>
                    </div>                                
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]</button>
                    </div>
                </div>                        
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header"><h4>[[#{accion.actualizar}]]</h4></div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="nombreRegion">[[#{region.nombreRegion}]]</label>
                                    <input type="text" class="form-control" name="nombreRegion" 
                                           th:field="*{nombreRegion}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{region.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" 
                                           name="activo" id="activo" th:field="*{activo}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- 4 fragmento que se utiliza para confirmar que se desea eliminar una region -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/region/eliminar}" th:object="${region}" method="post">
                    <input type="hidden" name="idRegion" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

