<!-- fragmento 1 para Agregar plataforma en ventana modal -->
<section th:fragment="agregar">
    <!-- Button trigger modal -->
    <div class='row py-4 mb-2 bg-light'>
        <div class='col-md-1'></div>
        <div class='col-md-3'>
            <button type="button" class="btn btn-primary"  sec:authorize="hasRole('ROLE_Administrador')"
                    data-bs-toggle="modal" data-bs-target="#agregarPlataformaModal">
                <i class="fa-solid fa-plus"></i> [[#{plataforma.agregar}]]</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agregarPlataformaModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{plataforma.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/plataforma/guardar}' th:object='${plataforma}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{plataforma.nombre}]]</label>
                            <input type="text" name='nombrePlataforma' class='form-control' required="true"/></div>
                        <div class='mb-3'>
                            <label>[[#{plataforma.activo}]]</label>
                            <input type="checkbox" name='activo' class='form-check-input'/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- fragmento 2 para el listado de plataformas -->
<section th:fragment="listado" class="p-3">

    <!-- Total de plataformas -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card text-center bg-success text-white">
                <div class="card-body py-2">
                    <div class="d-flex justify-content-between align-items-center px-3">

                        <h5 class="mb-0">
                            [[#{plataforma.total}]]
                        </h5>

                        <h4 class="mb-0">
                            <i class="fas fa-layer-group"></i>
                            [[${totalPlataformas}]]
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Tabla -->
    <div class="row">
        <div class="col-12">

            <div class="card">

                <div class="card-header">
                    <h4 class="mb-0">
                        [[#{plataforma.listado}]]
                    </h4>
                </div>

                <div class="card-body">

                    <div th:if="${plataformas != null and !plataformas.empty}">

                        <table class="table table-striped table-hover mb-0">

                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>[[#{plataforma.nombre}]]</th>
                                    <th>[[#{plataforma.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr th:each="c : ${plataformas}">

                                    <td>
                                        [[${c.idPlataforma}]]
                                    </td>

                                    <td>
                                        [[${c.nombrePlataforma}]]
                                    </td>

                                    <td th:text="${c.activo} ? 'Activa':'Inactiva'">
                                    </td>

                                    <td sec:authorize="hasRole('ROLE_Administrador')">

                                        <div class="action-buttons">

                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmModal"
                                                    th:data-bs-id="${c.idPlataforma}"
                                                    th:data-bs-nombrePlataforma="${c.nombrePlataforma}">

                                                <i class="fa-solid fa-trash"></i>
                                                [[#{accion.eliminar}]]

                                            </button>

                                            <button type="button"
                                                    class="btn btn-warning"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editarPlataformaModal"
                                                    th:data-bs-id="${c.idPlataforma}"
                                                    th:data-bs-nombre="${c.nombrePlataforma}"
                                                    th:data-bs-activo="${c.activo}">

                                                <i class="fas fa-pencil-alt"></i>
                                                [[#{accion.actualizar}]]

                                            </button>

                                        </div>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                    <div class="text-center p-2"
                         th:if="${plataformas == null or plataformas.empty}">

                        <span>[[#{lista.vacia}]]</span>

                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<!-- 4 fragmento que se utiliza para confirmar que se desea eliminar una plataforma -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/plataforma/eliminar}" th:object="${plataforma}" method="post">
                    <input type="hidden" name="idPlataforma" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Editar Modal -->
    <div class="modal fade" id="editarPlataformaModal"
         tabindex="-1"
         aria-labelledby="editarPlataformaModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header bg-warning">
                    <h1 class="modal-title fs-5" id="editarPlataformaModalLabel">
                        <i class="fa-solid fa-pencil"></i>
                        [[#{accion.actualizar}]]
                    </h1>

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <form th:action="@{/plataforma/guardar}"
                      method="post"
                      th:object="${plataforma}">

                    <div class="modal-body">

                        <input type="hidden"
                               id="editarIdPlataforma"
                               name="idPlataforma"/>

                        <div class="mb-3">
                            <label for="editarNombrePlataforma" class="form-label">
                                [[#{plataforma.nombre}]]
                            </label>

                            <input type="text"
                                   id="editarNombrePlataforma"
                                   name="nombrePlataforma"
                                   class="form-control"
                                   required/>
                        </div>

                        <div class="mb-3">
                            <label for="editarActivo" class="form-label">
                                [[#{plataforma.activo}]]
                            </label>

                            <input type="checkbox"
                                   id="editarActivo"
                                   name="activo"
                                   class="form-check-input"/>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                            [[#{accion.cerrar}]]
                        </button>

                        <button type="submit"
                                class="btn btn-warning">
                            <i class="fa-solid fa-check"></i>
                            [[#{accion.guardar}]]
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        const editarModal = document.getElementById('editarPlataformaModal');

        editarModal.addEventListener('show.bs.modal', function (event) {

            const button = event.relatedTarget;

            const id = button.getAttribute('data-bs-id');
            const nombre = button.getAttribute('data-bs-nombre');
            const activo = button.getAttribute('data-bs-activo');

            document.getElementById('editarIdPlataforma').value = id;
            document.getElementById('editarNombrePlataforma').value = nombre;
            document.getElementById('editarActivo').checked = activo === 'true';
        });
    </script>
</section>

