<section th:fragment="agregar">
    <!-- Esta es la ventana modal -->
    <div class="modal fade" id="agregarProductoModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{producto.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/producto/guardar}' th:object='${producto}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{producto.nombre}]]</label>
                            <input type="text" name='nombreProducto' class='form-control'/>                                   
                        </div>
                        <div class="mb-3">
                            <label>[[#{producto.categoria}]]</label>
                            <select name="categoria.idCategoria" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione una categoría
                                </option>

                                <option th:each="categoria : ${categorias}"
                                        th:value="${categoria.idCategoria}"
                                        th:text="${categoria.nombreCategoria}">
                                </option>
                            </select>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.activo}]]</label>
                            <input type="checkbox" name='activo' class='form-check-input'/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.imagen}]]</label>
                            <input type="file" name='imagenFile' onchange='mostrarImagen(this);'
                                   class='form-control'/>
                            <img id='blah' src='#' alt="" height="80" width="80" class="rounded-circle object-fit-cover"/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- fragmento 1 para Agregar producto en ventana modal -->
<section th:fragment="tabs" class="py-3 mb-4 header-tablas">
    <div class="d-flex justify-content-center px-5"> 
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a th:href="@{/producto/listado}" 
                   th:classappend="${idCategoriaActual == null} ? 'active'"
                   class="nav-link" 
                   aria-current="page">
                    [[#{consultas.todas}]]
                </a>
            </li>
            <li th:each="c : ${categorias}" class="nav-item">
                <a th:href="@{/producto/consultas/{id}(id=${c.idCategoria})}"
                   th:classappend="${idCategoriaActual != null and idCategoriaActual.equals(c.idCategoria)} ? 'active'"
                   class="nav-link">
                    [[${c.nombreCategoria}]]
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- Este fragmento permite mostrar la lista de elementos y los botonoes de modificar y eliminar -->
<section th:fragment="listado" class="p-3">
    <!-- Linea de total de elementos y del boton agregar-->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card text-center total-elementos">
                <div class="card-body py-2">
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="d-flex align-items-center gap-2">
                            <h5 class="mb-0">
                                [[#{producto.total}]]
                            </h5>
                            <h4 class="mb-0">
                                <i class="fas fa-layer-group"></i>
                                [[${totalProductos}]]
                            </h4>
                        </div>
                        <button type="button"
                                class="btn btn-light"
                                sec:authorize="hasRole('ROLE_Administrador')"
                                data-bs-toggle="modal"
                                data-bs-target="#agregarProductoModal">
                            <i class="fa-solid fa-plus"></i>
                            [[#{producto.agregar}]]
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla que da la lista de elementos -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-tablas">
                    <h4 class="mb-0">[[#{producto.listado}]]</h4>
                </div>
                <div class="card-body">
                    <div th:if="${productos != null and !productos.empty}">
                        <table class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>[[#{producto.nombre}]]</th>
                                    <th>[[#{producto.categoria}]]</th>
                                    <th></th>
                                    <th>[[#{producto.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${productos}">
                                    <td>[[${p.idProducto}]]</td>
                                    <td>[[${p.nombreProducto}]]</td>
                                    <td>[[${p.categoria.nombreCategoria}]]</td>
                                    <td><img th:src="@{${p.rutaImagen}}" alt="noData" width="120" height="120" class="object-fit-cover"/></td>
                                    <td th:text="${p.activo} ? 'Activa':'Inactiva'"></td>
                                    <td sec:authorize="hasRole('ROLE_Administrador')">
                                        <div class="action-buttons">
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmModal"
                                                    th:data-bs-id="${p.idProducto}"
                                                    th:data-bs-nombreProducto="${p.nombreProducto}">
                                                <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                            </button>
                                            <button type="button"
                                                    class="btn btn-warning"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editarProductoModal"
                                                    th:data-bs-id="${p.idProducto}"
                                                    th:data-bs-nombreProducto="${p.nombreProducto}"
                                                    th:data-bs-categoria="${p.categoria.idCategoria}"
                                                    th:data-bs-activo="${p.activo}">
                                                <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Este fragmento desea confirmar si se desea eliminar un elemento -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/producto/eliminar}" th:object="${producto}" method="post">
                    <input type="hidden" name="idProducto" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section th:fragment="modifica">
    <!-- Este div permite llamar al modal de modificar elementos desde el boton en la lista -->
    <div class="modal fade" id="editarProductoModal" tabindex="-1" aria-labelledby="editarProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h1 class="modal-title fs-5" id="editarProductoModalLabel">
                        <i class="fa-solid fa-pencil"></i> [[#{accion.actualizar}]]
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/producto/guardar}" method="post" th:object="${producto}" 
                      class="was-validated" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden"
                               id="editarIdProducto"
                               name="idProducto"/>
                        <div class="mb-3">
                            <label for="editarNombreProducto" class="form-label"> [[#{nombre}]]</label>
                            <input type="text"
                                   id="editarNombreProducto"
                                   name="nombreProducto"
                                   class="form-control"
                                   required/>
                        </div>
                        <select name="categoria.idCategoria"
                                id="editarCategoria"
                                class="form-select" 
                                required>
                            <option value="" selected disabled>
                                Seleccione una categoría///////
                            </option>

                            <option th:each="categoria : ${categorias}"
                                    th:value="${categoria.idCategoria}"
                                    th:text="${categoria.nombreCategoria}">
                            </option>
                        </select>
                        <div class="mb-3">
                            <label for="editarActivo" class="form-label">[[#{producto.activo}]]</label>
                            <input type="checkbox"
                                   id="editarActivo"
                                   name="activo"
                                   class="form-check-input"/>
                        </div>
                        <div class="mb-3">
                            <label for="editarImagen">[[#{producto.imagen}]]</label>
                            <input class="form-control" id="editarImagen" type="file" name="imagenFile"
                                   onchange="mostrarImagen(this);" />
                            <img id="blah" alt="your image" height="200" style="display: none;"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                            [[#{accion.cerrar}]]
                        </button>
                        <button type="submit"
                                class="btn btn-warning">
                            <i class="fa-solid fa-check"></i>
                            [[#{accion.guardar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Este script permite capturar la informacion de cada elemento en  la tabla para popular el div de modificar elemento --> 
    <script>
        const editarModal = document.getElementById('editarProductoModal');

        editarModal.addEventListener('show.bs.modal', function (event) {

            const button = event.relatedTarget;

            const id = button.getAttribute('data-bs-id');
            const nombreProducto = button.getAttribute('data-bs-nombreProducto');
            const categoria = button.getAttribute('data-bs-categoria');
            const activo = button.getAttribute('data-bs-activo');

            document.getElementById('editarIdProducto').value = id;
            document.getElementById('editarNombreProducto').value = nombreProducto;
            document.getElementById('editarCategoria').value = categoria;
            document.getElementById('editarActivo').checked = activo === 'true';

            ////////
            const preview = document.getElementById('blah');
            if (imagen) {
                preview.src = imagen;
                preview.style.display = 'block';
            } else {
                preview.style.display = 'none';
            }
            ////////
        });
    </script>
</section>